<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Гештальт</title>
		<link rel="stylesheet" href="/internal/style.css">
		<script src="/internal/script.js"></script>
		<noscript>
			<meta http-equiv="refresh" content="0; url=/old">
		</noscript>
    </head>
    <body>
		<div>
			<div class="center title">
			<a href="/">На главную страницу</a>
			<h1 id="board-title">/...</h1>
			</div>
			<div id="result" class="result reverse">
				<div class="border message">
					<img class="post-avatar" src="/images/nopic.jpeg">
					<div>
						<div class="row">
							<h4 class="post-id">#0</h4>
							<h4 class="post-author">...</h4>
							<h4 class="post-time">00:00</h4>
							<a class="post-reply" href="">Ответить</a>
						</div>
						<p class="post-text">...</p>
					</div>
				</div>
			</div>
			<form class="input" action="/api/post/post" method="post" enctype="multipart/form-data" target="responce">
				<div>
					<label for="author">Автор</label>
					<input type="text" id="author" name="Author">
				<label for="data">Картинка</label><input type="file" name="Data" id="data" accept="image/jpeg;image/png;image/gif"></div>
				<div class="grow-4">
					<label for="text">Текст</label>
					<textarea id="text" name="Text" style="height: 6em;resize: none;"></textarea>
					
					
				</div>
				<div style="/*! height: 100%; */">
					<input id="form-board" type="hidden" name="Board" value="/test">
					
					<button class="center button" type="submit" style="height: 50px;width: 100px;margin: auto;">Отправить</button>
				</div>
			</form>
		</div>
    </body>
</html>