<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ .Board }} - Гештальт</title>
    </head>
    <body>
		<div class="center"><h1>{{ .Board }}</h1></div>
        <form action="{{ .CreateAction }}" method="post" enctype="multipart/form-data"
        target="result">
			<div>
				<label for="author">Автор</label>
				<input type="text" id="author" name="Author">
			</div>
			
			<div>
				<label for="text">Текст</label>
				<textarea id="text" name="Text"></textarea>
			</div>

			<div>
				<label for="data">Картинка</label>
				<input type="file" name="Data" id="data" accept="image/jpeg">
			</div>

			<div>
				<input type="hidden" name="Board" value="{{ .Board }}">
				<button type="submit">Отправить</button>
			</div>
        </form>
        <iframe name="result"></iframe>
        {{ range .Posts }}
        <div>
            Автор: {{ .Author }}; #{{ .Id  }}<br>
            {{ .Timestamp }}
            <br>
            <p>{{ .Text }}</p>
            {{ if .Data }}
            <img src="data:image/jpeg;base64, {{ .Data }}">
            {{ end }}
        </div>
        {{ end }}
    </body>
	<style>
	div.center {
		display: flex;
		justify-content: center;
	}
	</style>
</html>