<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Гештальч!</title>
		<link rel="stylesheet" href="/internal/style.css">
    </head>
    <body>
		<div class="flex-row padding flex-span-all" style="--padding: 20px;">
			<div></div>
			<div class="center div text"><h1>Гештальч!</h1></div>
			<div class="flex-row flex-span-all">
				<div></div>
				{{if .IsRegistered}}
				<div class="width flex-span" style="--width: 250px; --flex-span: 2;">
					<fieldset class="flex-row gap padding" style="--gap: 10px; --padding: 10px;">
						<legend>| Авторизован |</legend>
						<div class="center text width flex-column gap margin" style="--width: 150px; --gap: 5px; --margin: 0 auto;">
							<p>{{.Username}}</p>
							<label for="user-edit" class="button">Редактировать</label>
							<input id="user-edit" type="checkbox" class="hidden hide-next">
							<form class="border shadow flex-column hide-this gap margin padding"
							style="--gap: 5px; --margin: 5px; --padding: 10px;"
							action="/api/edit-profile">
								<p>Никнейм</p>
								<input class="field" name="Name">
								<label for="user-change-img"
								class="center text button border shadow padding"
								style="--padding: 2px;">Выбрать Аватар</label>
								<input id="user-change-img" class="hidden" type="file" name="file">
								<input class="button" type="submit" value="Ввод">
							</form>
							<a class="button" href="/api/logout">Выйти</a>
						</div>
						<img class="img margin" style="--img-size: 80px; --margin: 0 auto;" src="{{.Avatar}}">
					</fieldset>
				</div>
				{{else}}
				<form class="width flex-span" style="--width: 200px; --flex-span: 2;" action="/api/login">
					<fieldset class="flex-row gap padding" style="--gap: 10px; --padding: 10px;">
						<legend>| Вход / Регистрация |</legend>
						<div class="center text width flex-column gap margin" style="--width: 150px; --gap: 5px; --margin: 0 auto;">
							<p>Логин</p>
							<input class="field" name="Name">
							<p>Пароль</p>
							<input class="field" type="password" name="Pass">
							<input class="button" type="submit" value="Ввод">
						</div>
					</fieldset>
				</form>
				{{end}}
			</div>
		</div>
		<div>
			{{range .Boards}}
			<div class="center flex-column gap5 w1000">
				<a href="{{.Path}}" class="button flex-row gap10 pad10">
					<img class="micro-icon" src="{{.Image}}">
					<div class="board-namedesc">
						<h2>{{.Name}}</h2>
						<h3 class="pre">{{.Desc}}</h3>
					</div>
				</a>
				{{if .IsSuperadmin}}
				<div class="flex-row gap10">
					<details>
						<summary class="button text-center w150 flex-column">Редактировать</summary>
						<form class="space border shadow flex-column gap10 pad10" action="/api/edit-profile">
							<div class="flex-row gap10">
								<p class="flex1">Наименование</p>
								<input class="flex1 field" name="Name">
							</div>
							<div class="flex-row gap10">
								<p class="flex1">Описание</p>
								<input class="flex1 field" name="Description">
							</div>
							<label for="board-change-img" class="button border shadow pad2 text-center">Выбрать Изображение</label>
							<input id="board-change-img" class="hidden" type="file" name="file">
							<div class="flex-row flex-wrap gap10">
								<p>Приват</p>
								<input type="checkbox" class="field hide-next" name="Private">
								<div class="flex-column gap5 hide-this w100_">
									<p>Пользователи привата</p>
									<input class="field" name="AllowUsers">
								</div>
							</div>
							<input class="button" type="submit" value="Ввод">
						</form>
					</details>
					<div class="button h-fit text-center w150">Удалить</div>
				</div>
				{{end}}
			</div>
			{{end}}
		</div>
		<div></div>
    </body>
</html>
