<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Гештальт</title>
		<link rel="stylesheet" href="/internal/style.css">
		<script src="/internal/script.js"></script>
    </head>
    <body>
		<div>
			<div class="center"><h1>Гештальт Борда</h1></div>
			<div id="result" class="result">
				<a href="" class="border message">
					<img class="board-img" src="">
					<div>
						<h2 class="board-name">/...</h2>
						<h3 class="board-desc">...</h3>
					</div>
				</a>
			</div>
		</div>
    </body>
</html>
