* {
	font-family: monospace;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	margin: auto;
}
body > div {
	display: flex;
	flex-direction: column;
}

.field {
	background-color: #ffffff;
	border: 1px solid;
	box-shadow: 1px 1px;
	user-select: none;
	padding: 2px;
}
.button {
	background-color: #ffffff;
	border: 1px solid;
	box-shadow: 1px 1px;
	height: fit-content;
	user-select: none;
	padding: 2px;
}
.button:hover {
	background-color: #e6e6e6;
}
.button:active {
	box-shadow: 0px 0px;
	transform: translate(1px, 1px);
}

.border {
	border: 1px solid;
}
.border.shadow {
	box-shadow: 1px 1px;
}

.flex-span-all > * {
	flex: 1;
}

.center.div {
	margin: auto;
}
.center.text {
	text-align: center;
}
.center.justify {
	justify-content: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}

.hidden {
	display: none;
}
.hide-next[type="checkbox"]:not(:checked) ~ .hide-this {
	display: none;
}
.hide-next[type="checkbox"]:checked ~ .unhide-this {
	display: none;
}

.img { /* class="img" style="--img-size: 100px;" */
	width: var(--img-size);
	height: var(--img-size);
}

.pre {
	word-break: break-word;
	white-space: break-spaces;
}

input {
	outline: none;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
}
a {
	color: black;
	text-decoration: none;
}
