* {
	font-family: monospace;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	margin: auto;
}
body > div {
	display: flex;
	flex-direction: column;
}
.button {
	background-color: #ffffff;
	border: 1px solid;
	box-shadow: 1px 2px;
	user-select: none;
	padding: 2px;
}
.button:hover {
	background-color: #e6e6e6;
}
.button:active {
	box-shadow: 0px 0px;
	transform: translate(1px, 2px);
}
.field {
	text-align: center;
	background-color: #ffffff;
	border: 1px solid;
	box-shadow: 1px 2px;
	user-select: none;
	padding: 2px;
}
.title {
	display: flex;
	flex-direction: row;
	padding: 20px;
}
.board-namedesc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}
.w1000 {
	width: 1000px;
}
.w250 {
	width: 250px;
}
.w150 {
	width: 150px;
}
.h-fit {
	height: fit-content;
}
.gap2 {
	gap: 2px;
}
.gap5 {
	gap: 5px;
}
.gap10 {
	gap: 10px;
}
.pad2 {
	padding: 2px;
}
.pad10 {
	padding: 10px;
}
.center {
	margin: auto;
}
.m-top {
	margin: 0 auto 0 auto;
}
.space {
	margin: 5px;
}
.justify {
	justify-content: center;
}
.text-center {
	text-align: center;
}
.flex1 {
	flex: 1;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.milli-icon {
	width: 80px;
	height: 80px;
}
.micro-icon {
	width: 60px;
	height: 60px;
}
.border {
	border: 1px solid;
}
.border.shadow {
	box-shadow: 1px 2px;
}
.font-20 {
	font-size: 1.5em;
}
.pre {
	word-break: break-word;
	white-space: break-spaces;
}
.hidden {
	display: none;
}
summary {
	user-select: none;
}
input {
	outline: none;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
}
a {
	color: black;
	text-decoration: none;
}
