{{define "send_form"}}
        <div style="display: flex; justify-content: center;">
        <form action="{{ .CreateAction }}" method="post" enctype="multipart/form-data"
        target="result" >
            {{if .User}}{{else}}
            <label for="author">Автор</label>
            <input type="text" id="author" name="Author" style="display: block; margin: 10px;">
            {{end}}
            <label for="text">Текст</label>
            <textarea id="text" name="Text" style="display: block; margin: 10px;"></textarea>

            <label for="data">jpeg/png/gif/mp4 (максимум 10 мб)</label>
            <input type="file" name="Data" id="data" accept="image/jpeg;image/png;image/gif" style="display: block; margin: 10px;">

            <input type="hidden" name="Board" value="{{ .Board }}">
            {{if .Id}}
            <input type="hidden" name="ParentId" value="{{ .Id }}">
            {{end}}
            <button type="submit">Отправить</button>
        </form>
        </div>
        <div style="display: flex; justify-content: center;">
            <iframe name="result" height="40px" scrolling="no" ></iframe><br>
        </div>
{{end}}

{{define "posts_list"}}
{{ range $key, $post := .Posts }}
        <div style="border-width: 2px; border-style: solid; width: fit-content; overflow: hidden;
        {{if $post.ParentId}}
        background-color: #2fbeed;
        {{end}}" id="{{$post.Id}}">
            {{template "head" $post}}
            {{if $post.ParentId}}
            {{else}}
            {{if $post.Responses}}
                <a href="/old{{$post.Board}}/{{$post.Id}}" style="float: right; margin-left: 10px;">{{$post.Responses}} ответов</a>
            {{else}}
                <a href="/old{{$post.Board}}/{{$post.Id}}" style="float: right; margin-left: 10px;">Открыть</a>
            {{end}}
            {{end}}
            {{template "file" $post}}
            <p style="display: block; white-space: pre-wrap; margin-right: 10px; margin-left: 10px;">{{ $post.Text }}</p>
        </div>
        {{if $post.ParentId}}
        {{else}}
        {{ range $_, $resp := .ResponsesPosts}}
            {{template "response" $resp}}
        {{end}}
        {{end}}
{{ end }}
{{end}}

{{define "response"}}
<div style="border-width: 2px; border-style: solid; background-color: #2fbeed; margin-left: 100px; width: fit-content; overflow: hidden;"
id="{{.Id}}">
            {{template "head" .}}
            {{template "file" .}}
            <p style="display: inline-block; vertical-align: top; white-space: pre-wrap; margin-right: 10px; margin-left: 10px;">{{ .Text }}</p>
</div>
{{end}}

{{define "op"}}
<div style="border-width: 2px; border-style: solid; border-color: gold; width: fit-content; overflow: hidden;" id="{{.Id}}">
            {{template "head" .}}
            <div style="float: left; margin-left: 10px;" >
            {{ if .ParentId }}
            Ответ на <a href="/old{{.Board}}/{{.ParentId}}">{{.ParentId}}</a>
            {{ else }}
            <a href="/old{{.Board}}">{{.Board}}</a>
            {{ end }}
            </div>
            <br>
            <br>
            <p style="white-space: pre-wrap; margin-left: 10px; margin-right: 10px;">{{ .Text }}</p>
            {{template "file" .}}
</div>
{{end}}

{{define "auth"}}
    <div style="float: right;">
    {{if .User}}
        Вы вошли: {{.User}}. <form action="/old/quit" method="POST">
    <button type="submit">Выйти</button>
    </form>
    {{else}}
        Войти/Зарегистрироваться:<br>
        <form action="/old/login" method="post">
            <label for="author">Имя</label>
            <input type="text" id="author" name="Name">

            <label for="text">Пароль</label>
            <input type="password" id="text" name="Pass"></textarea>
            <button type="submit">Отправить</button>
        </form>
    {{end}}
    </div>
{{end}}

{{define "board_list"}}
    [
    {{range .Boards}}
        <a href="/old{{.Name}}"><b>{{.Name}}</b></a> 
    {{end}}
    ]
{{end}}

{{define "head"}}
<div style="background-color: #2f88ed;">
            Автор: <b style="color: red;">{{ .Author }}</b>; #{{ .Id  }} {{ StringTime .Timestamp }}
</div>
{{end}}

{{define "file"}}
{{ if .Data }}
            <div style="float: left;">
                {{if (IsMP4 .Data) }}
                    <video src="/{{.Data}}" style="max-height: 200px; margin: 20px;"
                    controls></video>
                {{else}}
                    <a href="/{{.Data}}" target="_blank"><img src="/{{.Data}}"
                    style="max-height: 200px; margin: 20px;"></a>
                {{end}}
            </div>
{{ end }}
{{end}}